{% extends "global/Page.html" %}
{% load otree %}

{% block scripts %}
    <script>
        function saveTime() {
            var EndTime = new Date().getTime();
            document.getElementById("finishing_time").value = EndTime;
        }
    </script>
{% endblock %}


{% block title %}
    Thank you
{% endblock %}

{% block content %}

    {% if timeout %}
        <p>
            Your participation in this experiment was terminated, because you did not answer on time too often.
        </p>
    {% elif attention_check_failed %}
        <p>
            Your participation in this experiment was terminated, because you did not correctly answer an attention check question.
        </p>
    {% else %}
        <p>
            Thank you for your participation in this experiment!
        </p>
    {% endif %}



    <p>
        This is your final bonus payment: {{ final_payoff_display }}.
    </p>

    <p>
        This your final bonus payment plus participation fee: {{ final_payoff_plus_part_fee_display }}.
    </p>

    <p> You will receive your payments through your Prolific Account.</p>

    <button type="submit" formaction="https://app.prolific.co/submissions/complete?cc=F4F99D60" class="btn btn-primary btn-large" onclick="saveTime(); ">Return to Prolific</button>


    <input id="finishing_time" name="finishing_time" type="hidden" value=""/>

{% endblock %}


