{% extends "global/Page.html" %}
{% load otree %}

{% block scripts %}
    <script>
        function saveTime() {
            var EndTime = new Date().getTime();
            document.getElementById("finishing_time").value = EndTime;
        }
    </script>
{% endblock %}


{% block title %}
    Thank you
{% endblock %}

{% block content %}

    {% if too_many_wrong %}
        <p>
            Your participation in this experiment was terminated, because you had too many wrong
            answers in the comprehension questions of the instructions.
        </p>
    {% elif attention_check_failed %}
        <p>
            Your participation in this experiment was terminated, because you did not correctly answer an attention check question.
        </p>
    {% elif timeout %}
        <p>
            Your participation in this experiment was terminated, because you did not answer in time too often.
        </p>
    {% endif %}

    <p>To leave the experiment, you can simply close the browser window.</p>

    <input id="finishing_time" name="finishing_time" type="hidden" value=""/>

{% endblock %}


