{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Willkommen
{% endblock %}

{% block content %}

    <p>
        Danke f&uumlr das Engagement im Workshop! Es sind wirklich sehr viele, gute Ideen zusammen gekommen. Ich bin beeindruckt!
    </p>

    <p>
        Wie im Vorfeld angekündigt, wollen wir diese Ideen nun nach Machbarkeit/Wichtigkeit etc. bewerten.
        Dafür habe ich diesen Fragebogen programmiert. Da so viele Ideen zusammengekommen sind, kann es etwas länger dauern, alle Seiten auszufüllen.
        Ich hoffe aber, dass es nicht länger als 15 Minuten dauert.
    </p>

    <p>
        Jetzt schonmal ein riesiges Dankeschön für dein Input und viel Spaß beim Durchklicken der Ideen!
    </p>
    <br>

    {% next_button %}

{% endblock %}
