p {
  /* ↓ Wherever you put a paragraph, it’ll be sans-serif */
  margin-bottom: 16pt;
}

h5 {
    margin-top: 32pt;
}

.otree-btn-next {
    text-align: right;
}

.otree-body {
    max-width: 1150px;
}

.otree-title {
    padding-top: 0;
}
