{% load otree %}

    <div class="card instructions">
        <div class="card-body">

            <h4 style="margin-bottom: 16pt">Task 5 - Instructions</h4>

            <p>
                You again have the option to donate a portion of your earnings from the work in Task 1 to climatecare.org.
                For each decision, we will show you the price of the donation to this particular project.
                You will also be
                {% if player.treatment == "Info" %}
                    <strong>informed of the true number of Xs in the matrix and the true amount of CO<sub>2</sub>emissions</strong>
                    that are eliminated by your donation to this project.
                {% else %}
                    reminded of <strong>your estimate of the number of Xs</strong> of this project in the previous task.
                    We also translate your estimate of the Xs into how much CO<sub>2</sub> emissions would be eliminated by
                    your donation to this project.
                {% endif %}
            </p>

            <p>
                If you decide to donate to a project in a particular round and that round is selected for payment,
                we will donate the amount to climatecare.org. Your payments are then determined as follows:
            </p>

            <p style="text-align: center">
                {{ Constants.endowment }} Points - the price of the given project.
            </p>

            <p>
                If you decide not to donate and this decision is randomly selected, you will receive:
            </p>

            <p style="text-align: center">
                {{ Constants.endowment }} Points.
            </p>

        </div>
    </div>

    <div style="margin-top: 12pt; text-align: right;">
        <button  class="btn btn-primary btn-large">Start the Donation Task</button>
    </div>
