{% extends "global/Page.html" %}
{% load otree  %}

{% block title %}
    <table class="table">
        <tr>
            <td style="width:80%;border-color:transparent">Your guess - stage 2</td>
            <td style="width:20%;border-color:transparent;text-align: right;font-size: 60%;color: #78797a"> Part 3 - Round {{ displayed_round_number }}</td>
        </tr>
    </table>{% endblock %}

{% block content %}

    {% include 'CompensationBase/InstructionsBase.html' %}

    <p></p>
    <div class="alert alert-info">Your role is <b>{{player.role}}</b> in this game. </div>

    <p>
        The price of the product in this round is <b>{{ player.price }}</b>.
    </p>

    <p>
         For each point Person A uses in this stage, you have to solve <b> {% if player.treatment == 'Harm' %} {{ sliders_per_point_harm }}
         {% else %}{{ Constants.SlidersPerPoint }} {% endif %} fewer sliders </b> at the end of the experiment.
     </p>

    {% if player.treatment == "Responsibility" %}

        How many points (between 0 points and {{ max_compensation | c }}) do you guess a
        Person A who buys will use to reduce the number of sliders for you?

        {% formfield group.compensation_belief_harmed label = "" %}

    {% else %}

        How many points (between 0 points and {{ max_compensation | c }}) do you guess
        Person A will use to reduce the number of sliders for you?

        {% formfield group.compensation_belief_harmed label = "" %}

     {% endif %}


    {% next_button %}

{% endblock %}
