{% load otree %}


<body>


    <!-- Header <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist"> -->
<div class="card">
    <div class="card-header">
    <nav  role="navigation">

         <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
            <li class="nav-item" >
                <a class="nav-link back-and-forth active" id="part1-tab" data-toggle="tab" href="#part1" role="tab" aria-controls="part1">Task 2</a>
            </li>

            <li class="nav-item">
                <a class="nav-link back-and-forth" id="part2-tab" data-toggle="tab" href="#part2" role="tab" aria-controls="part2">Your Bonus Payments</a>
            </li>

            <li class="nav-item">
                <a class="nav-link back-and-forth" id="part3-tab" data-toggle="tab" href="#part3" role="tab" aria-controls="part3">Comprehension Questions</a>
            </li>

        </ul>

    </nav>
  </div>

    <!-- Instructions -->
    <div class="card-body">

        <div class="tab-content" id="myTabContent">

            <!-- Part 1: WHATEVER FIRST TAB HERE -->
            <div class="tab-pane show active" id="part1" role="tabpanel" aria-labelledby="part1-tab">
                <div class="card-header bg-white border-bottom-0 mt-3 sticky-top">
                    <p class="h4">Task 2 - Instructions</p>
                </div>
                <div class="card-body">

                    <div>
                        <h5 style="margin-top: 0;">
                        {% if player.treatment == "Motivated" %}
                            What is this experiment about?
                        </h5>
                        <p>
                            Climate change is a global threat. In this experiment, you can donate some of the {{ Constants.endowment }} Points
                            you earned through your work in Task 1 to climatecare.org, an organisation that
                            eliminates CO<sub>2</sub> emissions from the atmosphere.
                            <strong>Your donation will reduce real CO<sub>2</sub> emissions in the atmosphere</strong>.
                        </p>
                        <p>
                            You will see {{ num_projects }} projects, which differ in price and CO<sub>2</sub> emissions
                            saved. You make your decisions of whether or not to donate to these projects in Task 3 of the experiment.
                            Before that, however, you have to estimate how many CO<sub>2</sub> emissions
                            will be eliminated through your donation.
                        </p>

                        <h5> {% endif %}
                            The Estimation Task
                        </h5>
                        <p>
                            In this task, you are asked to estimate the number of Xs in a matrix.
                            You can find an example image of a matrix in the video below.
                            There are between 0 and 400 Xs in a matrix. Each matrix consists of 20 rows with 20 letters each.
                        </p>
                        {% if player.treatment == "Motivated" %}
                            <p>
                                Each matrix belongs to one of the projects to which you can donate in Task 3.
                                <strong>Each X in a matrix represents {{ Constants.real_world_kg_co2_per_x }} kg of CO<sub>2</sub></strong>
                                that your donation will eliminate. This means that if a matrix contains, for example, 100 Xs,
                                your donation to this project will eliminate 50 kg of CO<sub>2</sub>
                                which corresponds to the emissions caused by driving 180 miles in an average car.
                                When you submit the estimate, you will also see the price it will cost to donate to this particular project.
                                <strong>Prices can range between {{ Constants.min_price }} and {{ Constants.max_price }} Points.</strong>
                            </p>
                        {% endif %}
                        <p>
                            You get to see each matrix for only <strong>{{ Constants.sec_per_matrix }} seconds</strong>.
                            Then you will be automatically taken to the page where you have to submit your estimate of the number of Xs.
                            You have <strong>{{ Constants.sec_to_answer }} seconds</strong> to enter your estimate.
                            If you don't submit your guess in time, your payments for that
                            decision will be forfeited. If you fail to submit your estimate on time twice,
                            you will not be allowed to continue the experiment and will also forfeit your participation fee.
                            Note that the timer keeps running even if you try to refresh the page.
                            So you cannot gain time by refreshing the page. <strong>It is therefore important that you try to
                            answer with your best guess within the {{ Constants.sec_to_answer }} seconds.</strong>
                        </p>


                        <figure style="margin-top: 16pt">
                            {% if player.treatment == "Motivated" %}
                            <img src="{% static 'img/Belief_instructions_motivated.png' %}" alt="Static Image"
                                 data-alt="/static/img/Belief_instructions_motivated.gif" style="display:block;margin-left:auto; margin-right:auto; width:70%;cursor:pointer;"/>
                            {% else %}
                            <img src="{% static 'img/Belief_instructions_neutral.png' %}" alt="Static Image"
                                 data-alt="/static/img/Belief_instructions_neutral.gif" style="display:block;margin-left:auto; margin-right:auto; width:70%;cursor:pointer;"/>
                            {% endif %}
                            <figcaption style="font-style:italic; margin-left:auto; margin-right:auto; width:70%;text-align: center">Click on the 'Play'-button to watch a real-time recording of the decision page (no audio needed).</figcaption>
                        </figure>
                        <input id="gif_click" name="gif_clicked" type="hidden" value="False">

                        <div class="alert alert-secondary" style="margin-top: 20pt; display:block;margin-left:auto; margin-right:auto; width:70%;">
                            <div id="checkbox-container">
                                <input type="checkbox" id="gif_watched" name="gif_watched" style="cursor:pointer" value="True">
                                <label for="gif_watched"> I have watched the video above.</label>
                            </div>
                        </div>


                    </div>

                    <!-- on Card Navigation  Arrows -->
                    <div class="row justify-content-md-center mt-5">
                        <div class="col col-lg-2">
                            <p class="prevtab text-secondary text-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#D3D3D3" class="bi-arrow-left-circle" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                                </svg>
                            </p>
                        </div>

                        <div class="col col-lg-2">
                            <p onclick="topFunction()" class="nexttab text-center" data-toggle="tooltip" data-placement="top" title="Next">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#076bff" class="bi bi-arrow-right-circle" viewBox="0 0 16 16" style="cursor: pointer">
                                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5A.5.5 0 0 0 4 8z"/>
                                </svg>
                            </p>
                        </div>
                    </div>

                </div>
            </div>


            <!-- Part 2: WHATEVER SECOND TAB HERE  -->
            <div class="tab-pane" id="part2" role="tabpanel" aria-labelledby="part2-tab">
                <div class="card-header bg-white border-bottom-0 mt-3 sticky-top">
                    <p class="h4">Your bonus payments in this task</p>
                </div>
                <div class="card-body">
                    <div>
                        <p>
                            You will earn {{ Constants.beliefs_fixed_payment }} Points for submitting your estimate on time
                            if a round of this task is selected for payment. Depending on the accuracy of your estimate,
                            you can earn up to {{ Constants.beliefs_max_accuracy_bonus }} Points more.
                            In particular, <strong>the closer you are to the correct number of Xs, the more you earn</strong>.
                            So if you get the correct number of Xs, you will earn {{ Constants.beliefs_max_payment }} Points.
                            The farther your estimate is from the correct number of Xs, the less you earn.
                            If you miss the number of Xs by more than 200, your additional earnings for accuracy in this task are zero.
                        </p>
                        <p>
                            Your bonus for accuracy is based on a mathematical formula.
                            It is not necessary that you understand the formulas exactly, you just need to understand
                            that the closer your estimate is to the true number of Xs in a matrix, the more you earn.
                            Whether you overestimate or underestimate the number of Xs will affect your pay in the same way.
                            If you want to see the exact formula, click
                            <a class="button btn-link" href="#" role="button" onclick="set_clicked()" data-toggle="modal" data-target="#incentives-modal">here</a>.
                            <input id="equation_click" name="equation_clicked" type="hidden" value="False">
                        </p>
                    </div>

                    <!-- on Card Navigation  Arrows -->
                    <div class="row justify-content-md-center mt-5">
                        <div class="col col-lg-2">
                            <p onclick="topFunction()" class="prevtab text-center" data-toggle="tooltip" data-placement="top" title="Back">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#076bff" class="bi bi-arrow-left-circle" viewBox="0 0 16 16" style="cursor: pointer">
                                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                                </svg>
                            </p>
                        </div>

                        <div class="col col-lg-2">
                            <p onclick="topFunction()" class="nexttab text-center" data-toggle="tooltip" data-placement="top" title="Next">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#076bff" class="bi bi-arrow-right-circle" viewBox="0 0 16 16" style="cursor: pointer">
                                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5A.5.5 0 0 0 4 8z"/>
                                </svg>
                            </p>
                        </div>
                    </div>
                </div>
            </div>



            <!-- Part 3: WHATEVER FINAL TAB HERE -->
            <div class="tab-pane" id="part3" role="tabpanel" aria-labelledby="part3-tab">
                <div class="card-header bg-white border-bottom-0 mt-3 sticky-top">
                    <p class="h4"> Comprehension Questions </p>
                </div>
                <div class="card-body">
                    <div>
                        {% formfield player.cq1 label="Your bonus payment in this task depends on the accuracy of your estimate of the number of Xs." %}

                        {% formfield player.cq2 label="What is your extra fixed payment (in Points) for completing the task on time?"  %}

                        {% formfield player.cq3 label="In this task you have to stay alert because you have only 15 seconds to give your estimate."  %}

                        {% formfield player.cq4 label="How many Xs can there be in a given matrix?"  %}

                    </div>

                    <div class="alert alert-dark">
                        Before we start with the actual task, we give you the opportunity to familiarise yourself
                        with the task in 3 practice trials. Your answers in these practice trials will not affect your final payment.
                        Remain attentive as you will only be admitted to the payment-relevant part
                        if you answer in time and pass some attention checks.
                    </div>

                    <div style="display:none">
                        <input name="honeypot" value="" />
                    </div>

                    <input id="clicked_early" name="clicked_early" type="hidden" value="False">

                    <!-- on Card Navigation  Arrows -->
                    <div class="row justify-content-md-center mt-5">
                        <div class="col col-lg-2">
                            <p onclick="topFunction()" class="prevtab text-center" data-toggle="tooltip" data-placement="top" title="Back">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#076bff" class="bi bi-arrow-left-circle" viewBox="0 0 16 16" style="cursor: pointer">
                                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                                </svg>
                            </p>
                        </div>

                        <div class="col col-lg-2">
                            <button class="btn btn-primary btn-large" onclick="resetTabs()">Check my answers and continue</button>
                        </div>

                </div>
            </div>
        </div>
    </div>

</div>

</div>

</body>





<!-- Modal with explanation of Quadratic Scoring Rule -->
<div class="modal" id="incentives-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenteredLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalCenteredLabel">Bonus Payment Formula</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>
              Your extra payments for accuracy in this task are determined by the following formula:
          </p>
          $$
            {{ Constants.beliefs_fixed_payment }} - 0.00375 * \left( \text{Your estimate} - \text{true number of Xs} \right)^2
          $$
          <p>
              If your estimate is further than 200 away from the true number of Xs, this formula becomes negative.
              We will not deduct anything from your fixed bonus for answering on time if this happens.
              Only your additional earnings for accuracy will become zero.
          </p>
      </div>
    </div>
  </div>
</div>

<!-- Hidden Tracking Fields -->
<input type="hidden" name="window_width" id="id_window_width" value="0"/>
<input type="hidden" name="window_height" id="id_window_height" value="0"/>

