{% extends "global/Page.html" %}
{% load otree %}

{% block styles %}
<style>
    .otree-timer {
        display: none;
        text-align: center;
        margin-left:auto;
        margin-right:auto;
        width:70%;
    }
</style>
{% endblock %}

{% block scripts %}
    <script>
        document.title = "The Estimation Task";

        var startTime = new Date().getTime();
        console.log("Time printed is", startTime)

        let Intro = 3*1000;
        let Delay = js_vars.sec_per_matrix * 1000;

        function HideImageLoadForm() {
            setTimeout(function(){
                document.getElementById('alert').style.display="none"
                document.getElementById('matrix').style.display="block"
            },Intro);
            setTimeout(function(){
                document.getElementById('matrix').style.display="none"
                document.getElementById('Question').style.display="block"
                $('.otree-timer').show();
            }, Delay+Intro);
        }
    </script>
{% endblock %}


{% block title %}
    <table class="table">
        <tr>
            <td style="width:70%;border-color:transparent">Task {{ task_number }} - The Estimation Task</td>
            <td style="width:30%;border-color:transparent;text-align: right;font-size: medium; font-weight: lighter">
                Project {{ project_number }} of {{ num_projects }}
            </td>
        </tr>
    </table>
{% endblock %}



{% block content %}

    <body onload="HideImageLoadForm();" onkeydown="return (event.keyCode != 116)">

        <div class="alert alert-danger" id="alert" style="text-align: center;display:block;margin-left:auto; margin-right:auto; width:70%;">
            <p>
                In three seconds, you will here see the matrix of Xs. <br> Your task is to estimate the number of Xs.
            </p>
            <p>
                <strong>
                    Please stay alert, as the matrix is only displayed for {{ Constants.sec_per_matrix }} seconds.
                </strong>
            </p>
        </div>


        {% if player.treatment == "Motivated" %}
            <div class="alert alert-dark" style="text-align: center;display:block;margin-left:auto; margin-right:auto; width:70%;">
                <strong> The price of investing in this project is {{ price_to_show }} Points. </strong>
            </div>
        {% endif %}


        <img src = "{% static img_to_show %}" id="matrix" style="display:none;margin-left:auto; margin-right:auto; width:60%;"/>


        <div id="Question" style="display:none; margin-left:auto; margin-right:auto; width:50%;">
            <p>
                Please enter how many Xs you think were in the matrix:
            </p>
            <p>
                {{ form.num_x_belief }}
            </p>

            {% next_button %}

        </div>

    </body>

<p style="margin-top:30cm;"></p>
{% endblock %}
}