{% load otree %}

    <div class="card instructions">
        <div class="card-body">

            <h4 style="margin-bottom: 16pt">Task 4 - Instructions</h4>

            <p>
                In this task, you are again asked to estimate the number of Xs in a matrix.
                As in Task 2, the Xs stand for the amount of CO<sub>2</sub> emissions you can eliminate through the Donation
                Task in Task 5. As before, 1 X in the matrix represents {{ Constants.real_world_kg_co2_per_x }} kg of CO<sub>2</sub>.
            </p>
            <p>
                You only get to see the matrix for <strong>{{ Constants.sec_per_matrix }} seconds</strong>.
                After that, you have <strong>{{ Constants.sec_to_answer }} seconds</strong> to fill in your estimate
                of the number of X's seen. If you fail to submit your estimate on time more than twice,
                your payments will be forfeited.
            </p>
            <p>
                Your bonus payment in this task will be determined as in Task 2:
            </p>
            <p>
                You will receive {{ Constants.beliefs_fixed_payment }} Points for completing the task on time
                if one round of this task is selected for payment. Depending on the accuracy of your estimate,
                you can earn up to {{ Constants.beliefs_max_accuracy_bonus }} points more.
                In particular, <strong>you earn more the closer you are to the correct number of Xs</strong>.
            </p>
        </div>
    </div>

    <div style="margin-top: 12pt; text-align: right;">
        <button  class="btn btn-primary btn-large">Start the Estimation Task</button>
    </div>
