{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Task {{ task_number }} - The Estimation Task
{% endblock %}

{% block content %}

    <body onload="HideImageLoadForm();">

        <div class="alert alert-danger" id="alert" style="text-align: center;display:block;margin-left:auto; margin-right:auto; width:70%;">
            <p>
                In three seconds, you will here see the matrix of Xs. <br> Your task is to estimate the number of Xs.
            </p>
            <p>
                <strong>
                    Please stay alert, as the matrix is only displayed for 5 seconds.
                </strong>
            </p>
        </div>


        {% if player.treatment == "Motivated" %}
            <div class="alert alert-dark" style="text-align: center;display:block;margin-left:auto; margin-right:auto; width:70%;">
                <strong> Investing in this project costs {{ price_to_show }} Points. </strong>
            </div>
        {% endif %}


        <img src = "{% static img_to_show %}" id="matrix" style="display:none;margin-left:auto; margin-right:auto; width:60%;"/>


        <div id="Question" style="display:none; margin-left:auto; margin-right:auto; width:50%;">
            <p>
                Please enter how many Xs you think were in the matrix:
            </p>
            <p>
                {{ form.num_x_belief }}
            </p>

            {% next_button %}
        </div>

    </body>

<p style="margin-top:30cm;">This is the first question?</p>


{% endblock %}


{% block scripts %}
    <script>
        let Intro = 3*1000;
        let Delay = 5*1000;

        function HideImageLoadForm() {
            setTimeout(function(){
                document.getElementById('alert').style.display="none"
                document.getElementById('matrix').style.display="block"
            },Intro);
            setTimeout(function(){
                document.getElementById('matrix').style.display="none"
                document.getElementById('Question').style.display="block"
            }, Delay+Intro);
        }
    </script>
{% endblock %}