{% extends "global/Page.html" %}
{% load otree %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/sliders.css" %}">
    <style>
      th, td {
        padding: 5px;
      }
      td:nth-child(1) {
          width: 17%;
      }
    </style>
{% endblock %}


{% block title %}
    Adoption costs
{% endblock %}


{% block content %}

    <div class="alert alert-danger" id="alert" style="display:none;">
        Please indicate your estimate for all items.
    </div>

    <div class="alert alert-light" style="border-color: lightgrey; color: black">
            <p>
                On this page, we ask you to indicate how costly it would be to you to adopt various behaviors. The scale
                goes from 0 to 100, with 0 indicating "Not costly at all" and 100 indicating "prohibitively costly".
                When considering costs, please think about <em>monetary costs</em>,
                but also about how <em>difficult</em> it would be to you personally to adopt this behavior.
            </p>
    </div>

    <div style="margin-bottom:1cm;margin-top:1cm">
        <p>
            Please indicate how <strong>costly</strong> the adoption of each item in the list below is to you:
        </p>
    </div>

        <!-- Making the table responsive -->
		<div style="overflow-x: auto;">

        <!-- Adding table in the web page -->
        <table style="width:100%">
            <thead>
                <tr>
                    <th>Category</th>
                    <th style="text-align:center">CO<sub>2</sub> Emissions</th>
                </tr>
            </thead>

            <tbody>
                {% for field in form %}
                    <tr>
                        <td>{{ field.label }}</td>
                        <td>
                            <div class="slidecontainer" style="">
                                <span>0</span>
                                <input type="range" name="{{ field.name }}" min="0" max="100" value="0" step="1" id="{{ field.name }}" class="slider">
                                100
                                <span style="font-weight: bold;color:#007bff" class="slider_label"></span>
                            </div>
                            <div> {{ field.errors }}</div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


	<div style="margin-top:12pt; text-align: right">
       <button name="slider_task_check" id="test" class="btn btn-primary btn-large" onclick="checkTouched()">Next</button>
    </div>



{% endblock %}


{% block scripts %}
    <script type="text/javascript" src="{% static 'js/sliders.js' %}"></script>
{% endblock %}


