{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Task {{ task_number }} - The Investment Task
{% endblock %}

{% block content %}

    <body onload="delimiter()">

        {% if player.treatment == "Info" %}
            <p>
                The correct number of Xs in the matrix of this project was {{ num_X_true }}.
                This means that this project eliminates <span id="Co2"></span> kg CO<sub>2</sub>.
                This amount of carbon emissions is equivalent to riding <span id="km"></span> km with an average car.
            </p>
        {% else %}

            <p> Your belief was {{ belief }}. This means that you believe this project eliminates <span id="Co2"></span> kg CO<sub>2</sub>.
            This amount of carbon emissions is equivalent to riding <span id="km"></span> km with an average car.
            </p>

        {% endif %}
    </body>

    <img src="{% static image_to_show %}" width="100%">



    <p>
        The price of investing in this project is {{ price_to_show }}.
    </p>

    {% formfields %}

    {% next_button %}

{% endblock %}




{% block scripts %}

    <script>
        function delimiter() {
            var km = js_vars.display_km;
            var km_delim = km.toLocaleString();
            document.getElementById("km").innerHTML = km_delim;

            var co2 = js_vars.display_co2;
            var co2_delim = co2.toLocaleString();
            document.getElementById("Co2").innerHTML = co2_delim;
        }
    </script>

{% endblock %}

