{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Task {{ task_number }} - The Investment Task
{% endblock %}

{% block content %}

    <div class="alert alert-secondary" id="alert" style="display:block;margin-left:auto; margin-right:auto; width:90%;">
        <p>
            In this task, you have the opportunity to donate your earnings from your work in Task 1.
            The projects you can invest in are the same as those, whose impact you estimated in the previous task.
        </p>
        <p>
            When you decide to donate to a project, and this task is selected for payment, we will donate the money to climatecare.org.
            They will eliminate the amount of CO<sub>2</sub> from the atmosphere that is proportional to the true number of project's Xs in the matrix you saw earlier.
        </p>
    </div>

    <body onload="delimiter()">
            <div class="alert" style="display:block; margin-bottom: 0pt; margin-left:auto; margin-right:auto; width:90%;">
                <p style="margin-bottom: 0pt;">
                    {% if player.treatment == "Info" %}
                        The correct number of Xs in the matrix of the current project was {{ num_X_true }}.
                        This means that <strong>this project eliminates <span id="Co2"></span> kg CO<sub>2</sub></strong>.
                        This amount of carbon emissions is equivalent to riding <span id="km"></span> km with an average car.
                    {% else %}
                        You estimated the number of Xs in the matrix for the current project to be {{ belief }}.
                        This means that <strong>you believe this project eliminates <span id="Co2"></span> kg CO<sub>2</sub></strong>.
                        This amount of carbon emissions is equivalent to riding <span id="km"></span> km with an average car.
                    {% endif %}
                </p>
            </div>
    </body>

    <div class="alert" style="display:block; margin-top:0pt; margin-left:auto; margin-right:auto; width:90%;">
        <p>
            Your earnings from the work task were {{ Constants.endowment }} Points. The price of investing in this project is <strong>{{ price_to_show }} Points</strong>.
        </p>

        <p>
            Would you like to invest in this project?
        </p>
        <p>
            {{ form.donation }}
        </p>

        {% next_button %}

    </div>


{% endblock %}




{% block scripts %}

    <script>
        function delimiter() {
            let km = js_vars.display_km;
            let co2 = js_vars.display_co2;

            document.getElementById("km").innerHTML = km.toLocaleString();
            document.getElementById("Co2").innerHTML = co2.toLocaleString();
        }
    </script>

{% endblock %}

