{% load otree %}

    <div class="card bg-light instructions">
        <div class="card-body">

            <h4>Instructions</h4>

            <p>
                In this task you are asked to estimate the number of Xs in a matrix. (see example image below).
                Your payment in this task depends on the accuracy of your estimation. In particular, you can earn more
                the closer you are to the correct number of Xs. If you get the correct number of Xs you earn {{ Constants.endowment }}.
                The further your estimate is away from the correct number of Xs, the less you earn. If you miss the number of Xs by more than 200 your payoff from this task will be zero - if a round from this task is selected to be the
                paying task.
            </p>

            {% if player.treatment == "Motivated" %}
                <p>
                Each matrix represents a project to which you can later donate.
                Each X in the matrix represents {{ Constants.real_world_kg_co2_per_x }} kg of CO<sub>2</sub>. If you decide
                to donate to a project and this round is selected for payment, we will donate the amount to a charity
                that eliminates CO<sub>2</sub> emissions from the atmosphere. This means that if a matrix has 100 Xs,
                the project will eliminate 50 kg of CO<sub>2</sub> which is equivalent to the emissions caused by
                driving 300 km with an average car.

                    Include description of this charity here!
                        These are real carbon emissions that are offset through the offsetting provider climatecare.org. (certified B Corporation).

                        From Pace, van der Weele (2020) instructions: "These emissions are real. The University of Amsterdam has
                        arranged a fund to be donated to Carbonfund.org Foundation to eliminate Co2 from the atmosphere.
                        Carbonfund.org Foundation is a nonprofit organization that offsets CO2 emissions. If you buy the virtual
                        product, then you will reduce the size of the fund, resulting in an increase of CO2 in the atmosphere."
                        "When the study is over we will send you the link with the proof of our donation to
                        Carbonfund.org."

                After indicating your estimates of the number of Xs for a variety of matrices, you will be given the opportunity
                to donate to the projects. When you see the matrix for your estimation task, you will also be able to
                see how much it will cost you to donate to this project. You will receive further instructions about the donation task
                at a later stage of this experiment.
                </p>
            {% endif %}
            <p>
                You will be able to see each matrix for 5 seconds only, so make sure you pay close attention. After
                the image of the matrix has disappeared you are asked to indicate your estimate on the number of Xs.
            </p>
        </div>
    </div>

