{% load otree %}


<body>
    <!-- Header <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist"> -->
<div class="card">
    <div class="card-header">
        <nav  role="navigation">

             <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                <li class="nav-item" >
                    <a class="nav-link back-and-forth active" id="part1-tab" data-toggle="tab" href="#part1" role="tab" aria-controls="part1"> General Payment </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link back-and-forth" id="part2-tab" data-toggle="tab" href="#part2" role="tab" aria-controls="part2"> Task 1 </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link back-and-forth" id="part3-tab" data-toggle="tab" href="#part3" role="tab" aria-controls="part3"> Comprehension Questions </a>
                </li>

            </ul>

        </nav>
    </div>


    <!-- Instructions -->
    <div class="card-body">

        <div class="tab-content" id="myTabContent">

            <!-- Part 1: WHATEVER FIRST TAB HERE -->
            <div class="tab-pane show active" id="part1" role="tabpanel" aria-labelledby="part1-tab">
                <div class="card-header bg-white border-bottom-0 mt-3 sticky-top">
                    <p class="h4">General Payment</p>
                </div>
                <div class="card-body">

                    <div>
                        <p>
                            In this experiment, you are asked to complete 5 tasks, each of which can consist of multiple decisions.
                            In each task, you can earn a bonus payment which may depend on your choices in the task.
                        </p>

                        <p>
                            Your total earnings at the end of the experiment are the sum of the two following components:
                        </p>
                        <ul>
                            <li>A fixed payment of {{ session.config.participation_fee }}</li>
                            <li>A bonus payment which is determined in one of the tasks in the experiment</li>
                        </ul>
                        <p>
                            Specifically, we <strong>randomly select one round out of the five tasks to be the
                            decision-that-counts</strong> for your payments.
                            Each decision is equally likely to be randomly selected for payment.
                            Therefore, you should put the same effort in all decisions during the experiment.
                            You will receive your payments only if you complete the entire experiment.
                            Your final earnings will then be paid through Prolific.
                        </p>
                        <p>
                            Throughout the experiment, we will use Points to refer to your earnings.
                            At the end of the experiment, when a decision is randomly selected,
                            the points resulting from this decision will be converted into &pound and added to your fixed payment.
                            We use the following conversion rate:
                        </p>
                        <p style="text-align: center">
                            <strong>{{ exchange_rate }} Points = &pound1.</strong>
                        </p>
                        <p>
                            Before each task you will receive instructions about the rules of this specific task.
                            These instructions also contain more detailed information about the bonus payments
                            you can earn in these tasks. After passing some attention checks and comprehension questions of a task,
                            you are asked to submit your decisions. Then you proceed to the next task.
                        </p>
                        <p>
                            <strong>
                                Remember that we employ a strict no-deception policy. This means that everything we tell you
                                in the instructions of each task is completely true and implemented accordingly.
                                It is important that you read the instructions carefully to be able to understand each task.
                            </strong>
                        </p>

                    </div>

                    <!-- on Card Navigation  Arrows -->
                    <div class="row justify-content-md-center mt-5">
                        <div class="col col-lg-2">
                            <p class="prevtab text-secondary text-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#D3D3D3" class="bi-arrow-left-circle" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                                </svg>
                            </p>
                        </div>

                        <div class="col col-lg-2">
                            <p onclick="topFunction()" class="nexttab text-center" data-toggle="tooltip" data-placement="top" title="Next">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#076bff" class="bi bi-arrow-right-circle" viewBox="0 0 16 16" style="cursor: pointer">
                                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5A.5.5 0 0 0 4 8z"/>
                                </svg>
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Part 2: WHATEVER SECOND TAB HERE  -->
            <div class="tab-pane" id="part2" role="tabpanel" aria-labelledby="part2-tab">
                <div class="card-header bg-white border-bottom-0 mt-3 sticky-top">
                    <p class="h4">Task 1</p>
                </div>
                <div class="card-body">
                    <div>
                        <p>
                            In the first task, you will have to work on a set of sliders.
                            You can adjust the slider to any number between 0 and 100 by clicking on the slider and dragging it to the desired position.
                            <strong>Your task is to drag the slider to the target position, which is 50.</strong>
                            The number on the right-hand side of the slider indicates the current position of your slider.
                            A slider is correctly adjusted when the current position is equal to 50.
                        </p>
                        <div style="margin-bottom: 16pt">
                            <img src="{% static 'img/sliders.png' %}" style="width:70%; display: block; margin-left: auto; margin-right: auto;">
                        </div>
                        <p>
                            In the example you can see that the upper slider is not yet placed correctly
                            because it is positioned at 27 instead of 50. In the example below,
                            the slider is correctly placed at 50. All the sliders you have to solve are displayed on one screen.
                        </p>
                        <p>
                            We ask you to solve {{ Constants.num_sliders }} sliders before you proceed to Task 2.
                            <strong>If Task 1 is selected for your payment, you will earn additional
                                {{ Constants.endowment }} Points for the completion of the task </strong>.
                        </p>


                    </div>


                    <!-- on Card Navigation  Arrows -->
                    <div class="row justify-content-md-center mt-5">
                        <div class="col col-lg-2">
                        <p onclick="topFunction()" class="prevtab text-center" data-toggle="tooltip" data-placement="top" title="Back">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#076bff" class="bi bi-arrow-left-circle" viewBox="0 0 16 16" style="cursor:pointer;">
                                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                            </svg>
                        </p>
                        </div>

                        <div class="col col-lg-2">
                        <p onclick="topFunction()" class="nexttab text-center" data-toggle="tooltip" data-placement="top" title="Next">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#076bff" class="bi bi-arrow-right-circle" viewBox="0 0 16 16" style="cursor:pointer;">
                                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5A.5.5 0 0 0 4 8z"/>
                            </svg>
                        </p>
                        </div>
                    </div>
                </div>
            </div>



            <!-- Part 3: WHATEVER FINAL TAB HERE -->
            <div class="tab-pane" id="part3" role="tabpanel" aria-labelledby="part3-tab">
                <div class="card-header bg-white border-bottom-0 mt-3 sticky-top">
                    <p class="h4"> Comprehension Questions </p>
                </div>
                <div class="card-body">
                        {% formfield player.cq1 label="In the experiment, everything we tell you is completely true."  %}

                        {% formfield player.cq2 label="To which position do you have to drag the sliders in Task 1?"  %}

                        <p style="font-style: italic; padding-top: 16pt; margin-bottom: 0pt">
                            In the first task, you will have to drag a number of sliders.
                            To show that you are reading the instructions, please go ahead and answer 23 to the question below,
                            no matter what the correct answer to the question is.
                        </p>
                        {% formfield player.attention_check label="How many sliders will you have to move to the target position?" %}

                        {% formfield player.cq3 label="Your earnings at the end of the experiment may depend on the choices you make."  %}

                        {% formfield player.cq4 label="Your final earnings are determined as follows"  %}




                    <!-- on Card Navigation  Arrows -->
                    <div class="row justify-content-md-center mt-5">
                        <div class="col col-lg-2">
                            <p onclick="topFunction()" class="prevtab text-center" data-toggle="tooltip" data-placement="top" title="Back">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#076bff" class="bi bi-arrow-left-circle" viewBox="0 0 16 16" style="cursor:pointer;">
                                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                                </svg>
                            </p>
                        </div>

                        <div class="col col-lg-2">
                            <button  class="btn btn-primary btn-large" onclick="resetTabs()">Check my answers and continue</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>


<!-- Hidden Tracking Fields -->
<input type="hidden" name="window_width" id="id_window_width" value="0"/>
<input type="hidden" name="window_height" id="id_window_height" value="0"/>

