{% extends "global/Page.html" %}
{% load otree %}

{% block styles %}
    <link href="{% static 'global/css/ecomb.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <style>
        /* Alignment of buttons */
        .next {float: right; margin-top: 40px;}
        .back {float: left; margin-top: 40px;}
        li{margin: 10px 0;}
        .controls ul li{margin: 0;}
        .tab{margin: 10px;}
        .center_img {width: 40%; display: block; margin-left: auto; margin-right: auto;}
    </style>
{% endblock %}

{% block scripts %}
    <script src="{% static 'global/js/browser_info.js' %}"></script>
    <script src="{% static 'global/js/backbutton.js' %}"></script>
{% endblock %}


{% block title %}
    Instructions - The Donation Task
{% endblock %}



{% block content %}

    <!-- Hidden Tracking Fields -->
    <input type="hidden" name="window_width" id="id_window_width" value="0"/>
    <input type="hidden" name="window_height" id="id_window_height" value="0"/>


<div class="card">
    <div class="card-body">

        <!-- Page 1 -->
        <div class="tab">
            <h4><img style="width: 5%;" src="{% static 'global/img/vitamins.png' %}">How do you estimate the number of vitamin A doses?</h4>
            <div class="alert">
                <ul>
                    <li>For each project, you will see an image like the one below.</li>
                    <li>You will see each image for <b>{{ Constants.sec_per_matrix }} seconds</b>.</li>
                    <li>Then, we ask for <b>your estimate</b> for the number of pills and how certain you are about your estimate.</li>
                    <li>There are <b>between 0 and 400 pills</b> in an image. <br></li>
                    <li>The number of pills <img style="width: 3%;" src="{% static 'global/img/pill.png' %}">indicates the number of vitamin A doses: <br>
                        <b>for each 10 pills</b> depicted on an image, your donation finances <b>1 dose vitamin A</b>.</li>
                </ul>
            </div>

            <div class="alert alert-warning alert-bonus" role="alert">
                If one of your estimates is selected as a decision-that-counts,
                    <ul>
                        <li>you receive <b><u>&#36;{{ player.belief_bonus }}</u></b> if your estimate is <b>at most 10 pills away from the true number</b> of pills.</li>
                        <li>you receive <b>no bonus</b> if your estimate is <b>more than 10 pills away</b> from the true number.</li>
                    </ul>
            </div>

            <div class="alert">
                <p>
                    Below you see an example of an image which contains 200 <img style="width: 3%;" src="{% static 'global/img/pill.png' %}">.
                    In this project, your donation would then finance 20 vitamin A doses.
                </p>
                <img style="width: 90%; margin-left:auto; margin-right:auto; display: block;" src="{% static 'global/img/example.png' %}">
            </div>

            <p>
                <button type="button" class="btn btn-primary btn-tab next" data-offset="1">Next</button>
            </p>

        </div>



        <!-- Page 2 -->
        <div class="tab">
            <div class="alert alert-primary">
                Before we start, we need to ensure that you understand the instructions. We ask you to answer 4 simple questions.
                <br>
                You may view the instructions again by going back to the previous page (click 'back' below).
            </div>


                {% formfield player.cq_5 %}
                {% formfield player.attention_check %}
                {% formfield player.cq_6 %}



            <p>
                <button type="button" class="btn btn-primary btn-tab back" data-offset="-1">Back</button>
                <button class="btn btn-primary next">Next</button>
            </p>
        </div>

    </div>
</div>

{% endblock %}