{% load otree %}

<body>

<div class="card">
    <div class="card-body">
        <div class="tab">
            <p>
                You have now reached the end of the first part of the experiment.
            </p>
            <p>
                Your task in the second part is the same as before. You can decide whether to donate to different projects,
                which finance different quantities of vitamin A doses.
            </p>
            <p>
                In this part, however, the bonus payments for the estimation of the number of pills are different.
            </p>
            <div class="alert alert-warning alert-bonus" role="alert">
                If one of your estimates is selected as a decision-that-counts,
                    <ul>
                        <li>you now receive <span style="color:darkred"><b><u>&#36;{{ player.accuracy_bonus }}</u></b></span>
                            if your estimate is <b>at most 10 pills away from the true number</b> of pills.
                        </li>
                        <li>you receive <b>no bonus</b> if your estimate is <b>more than 10 pills away</b> from the true number.</li>
                    </ul>
            </div>

            {% formfield player.cq_6 %}

            <button class="btn btn-primary next">Check my answer and continue</button>
        </div>
    </div>
</div>

</body>