{% extends "global/Page.html" %}
{% load otree %}

{% block styles %}
    <link href="{% static 'global/css/ecomb.css' %}" rel="stylesheet">
    <style>
        textarea.form-control {
            max-width: 100%;
        }
    </style>
{% endblock %}

{% block scripts %}
{% endblock %}


{% block title %}
    Feedback
{% endblock %}

{% block content %}

<div class="alert alert-warning alert-bonus" role="alert">
    Your feedback is very valuable at this point. We will send the most useful comment a <b>bonus of &#36;5</b>.
</div>

{% formfield player.feedback %}

<div style="margin-top: 20px; text-align: right">
    {% next_button %}
</div>

{% endblock %}


